/* Libraries */
@import url("https://cdn.jsdelivr.net/gh/FortAwesome/Font-Awesome@5.13.0/css/all.min.css");


/* All Pages Styling*/
html{
    background-color: #f9f4f5;
}


/* home.html styling */

.home_container{
    width: 90%; 
    margin: 30px 30px 30px 30px;
    text-align: center;
}

header > h4{
    max-width: 90%; 
    margin: 10px auto;
    text-align: center;
    padding-bottom: 50px;
    font-size: 30px;
}

 h1 + h2{
    font-size: 40px;
} 

/* Greetings Styling */

.greetings{
    animation: slide 6s linear 0s infinite alternate forwards;
    position: relative;
    padding: 40px;
    font-size: 50px;

}

@keyframes slide {
    from { transform: translateX(-30%);}
    to { transform: translateX(30%); }

}

.wave{
    animation: rotate 3s linear infinite alternate forwards;
    display:inline-block;
}

@keyframes rotate{
    0% {
        transform: rotate(-20deg);
    }
    25% {
        transform: rotate(2.5deg);
    }
    50% {
        transform: rotate(25deg);
    }
    75% {
        transform: rotate(47.5deg);
    }
    100% {
        transform: rotate(70deg);
    }

}


/* Social Media Home Page Icons */
.social-media-div {
    font-size: 1em;
    margin-top: 30px;
    
}


.sm-button i {
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    line-height: 3.5rem;
    width: 3.5rem;
    height: 3.5rem;
    margin: 10px 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: inherit;
    transition: transform 0.2s;
}

.sm-button:hover i {
    transform: scale(1.5); /* Make icons grow slightly on hover */
}


.sm-button {
    text-decoration: none;
    font-size: 2.5rem;
    margin: 8px;
    
}



.github i {
    background-color:#334
}

.linkedin i {
    background-color:#0e76a9
}

.google i {
    background-color:#ea4336
}

.facebook i {
    background-color:#3b5999
}

.instagram i {
    background-color:#c13585
}

.twitter i {
    background-color:#1da1f3
}

.medium i {
    background-color:#334
}

.youtube i {
    background-color: #FF0001; 
    color: white;
}

.facebook i:hover, .github i:hover, 
.google i:hover, .instagram i:hover, .linkedin i:hover, 
.medium i:hover, .twitter i:hover, .youtube i:hover{
    background-color:#000
}

/* Home Buttons Styling */

.home-buttons button{
    background-color: #5c3370;
    color:white;
    text-align: center;
    font-size: x-large;
    border-radius: 20px;
    text-transform: uppercase;
    margin:70px 15px 70px 10px;
    text-decoration: none;
    padding:20px;
    outline: none;
    border: none;


}

.home-buttons button:hover{
    background-color:#f9f4f5 ;
    color:#5c3370 ;
    cursor:pointer;
    text-decoration: none;
    outline: none;
    border: none;
    transition: transform 1s ease-in-out;
    transform: rotate(360deg);
}


/* About Me Styling */

.about_me_container{
    width: 90%; 
    margin: 30px 30px 30px 30px;
    text-align: center;
}

/* Technical Icons  */
.tech-icons {
    padding-left: 0;
    list-style: none;
    font-size: 3rem;
    margin: 0 10 10 0;
    text-align: center;
    list-style: none;
    font-size: 1.5rem;
    text-align: center;
    color:black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.tech-icons i {
    font-size: 40px;
}

.tech-skill{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    margin-bottom: 20px;
}

.tech-skill:hover{
    color:#5c3370;
}

.fa-brands{
    font-weight: 500;
    font-family: "Font Awesome 5 Brands";
}


.fa-brands, .fas {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1.5;
}


/* My Resume Styling */
.my_resume_container{
    text-align: left;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom:50px;
    margin-left: 50px;
    margin-right: 50px;
}



/* Contact Me Styling */




/* Contact Me Header */
#contact_me_header, #newsletter_header{
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom:50px;
    color:#5c3370;
}



/* Contact Form Styles */
.contact__form_container, .newsletter_container {
    box-shadow: rgba(100,100,111,0.2) 10px 10px 30px 0px;
    background: white;
    padding: 50px 50px 50px 50px;
    max-width: 50rem;
    max-height: 100rem;
    text-align: right;
    width: 80%;
    border-radius: 10px;
    margin: 80px 80px 80px 80px;
}

 .contact__form_field, .newsletter_field {
    margin-bottom: 50px;
}

.contact__form_label, .newsletter_label {
    color: #000;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 700;
    display: block;
    text-align: left;
    }
    
.contact__form_input, .newsletter_input {
    color: #334;
    padding: 20px;
    width: 95%;
    margin-top: 10px;
    border: 1px solid #ebebeb;
    font-size: 20px;
    letter-spacing: 0px;
    background: #f0f0f0;
    border-radius: 5px;
    font-weight: 600;
    background-color: #f9f4f5;
}



/* Contact Form Submit Button Styles */
#contact_submit_button , #newsletter_submit_button{
    width: 20%;
    padding: 15px;
    font-size: 1.5rem;
    background: #5c3370;
    color: #fff;
    border-radius: 20px;
    border:none;
    /* margin-top: 50px; */
}  





